h1 {
  color: blue;
}

h2 {
  color: blue;
}

h3 {
  color: blue;
}

.square{
  width: 90%;
}

#pink {
  background-color: #FF377B;
  opacity: 0.5
  width:50px
  height:75px
  position:absolute;
}

#green {
  background-color: #7DE522;
  opacity: 0.5
  width:50px
  height:75px
  position:absolute;
}

#yellow {
  background-color: #FBE608;
  opacity: 0.5
  width:50px
  height:75px
  position:absolute;
}


#blue {
  background-color: #3AB1FC;
  opacity: 0.5
  width:50px
  height:75px
  position:absolute;
}
