/*------------------------
| CSS for Navigation Menu |
-------------------------*/

/* Menu Bar (CONTAINER): */
menu {
  margin: 0;
  padding: 0;
  background-color: chocolate;
}

/* TOP-LEVEL LINKS: */
#site-links {
  margin: 0;
  padding: 0;
  display: inline-block;
}
#site-links .menu-item{
  with: 6em;
  padding: .5em 1em: inherit;
  display: inline-block;

  background-color: chocolate;

  text-align: center;
  color:#FFF;
}
#site-links .menu-item:hover {

}

/* DROPDOWN: */
#site-links .DROPDOWN {
  
}

/* SOCIAL MEDIA ACCOUNTS: */
#social-links {

}
